@font-face {
  font-family: "iconfont"; /* Project id 2707066 */
  src:  url('iconfont.ttf?t=1627470348314') format('truetype');
}

.icon {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shezhi:before {
  content: "\e664";
}

.icon-qian:before {
  content: "\e642";
}

.icon-my_icon:before {
  content: "\e65d";
}

.icon-fahuo-:before {
  content: "\e637";
}

.icon-sousuo:before {
  content: "\e623";
}

.icon-zuji:before {
  content: "\e755";
}

.icon-Opinion:before {
  content: "\e613";
}

.icon-fukuan:before {
  content: "\e656";
}

.icon-dizhi:before {
  content: "\e606";
}

.icon-17:before {
  content: "\e616";
}

.icon-ziyuan:before {
  content: "\e610";
}

.icon-icon-:before {
  content: "\e64f";
}

.icon-xiaoxi:before {
  content: "\e74c";
}

.icon-daishouhuo:before {
  content: "\e6c8";
}

.icon-renyuan:before {
  content: "\e617";
}

.icon-gouwuche:before {
  content: "\e649";
}

.icon-shouye:before {
  content: "\e60c";
}

.icon-renyuanwo:before {
  content: "\e618";
}

